<footer>
    <div class="container-footer">
        <div class="footer-direito">
            <span>Todos os direitos reservados |  &copy; - 2020|2024</span>
        </div>
        <div class="footer-social">
            <nav>
                <ul>
                    <li><a href="#"><i class="ri-facebook-circle-fill"></i></a></li>
                    <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                    <li><a href="#"><i class="ri-twitter-x-line"></i></a></li>
                    <li><a href="#"><i class="ri-telegram-line"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>