<header>
    <div class="container-header">
        <div class="header-logo">
            <a href="/api/workouts/"><img src="/imgs/logo.png" alt=""></a>
        </div>
        <div class="header-menu">
            <div class="box-menu">
                <nav>
                    <ul>
                        <li><a href="#">Acompanhantes</a></li>
                        <li><a href="#">Planos</a></li>
                        <li><a href="#">Sobre</a></li>
                    </ul>
                </nav>
            </div>
            <div class="box-profile">
                <a href="#">Acessar</a>
                <a href="#">Registrar</a>
            </div>
        </div>
    </div>
</header>