<header>
    <div class="container-header">
        <div class="header-logo">
            <a href="/v1/api"><img src="/imgs/logo.png" alt=""></a>
        </div>
        <div class="header-menu">
            <div class="box-menu">
                <nav>
                    <ul>
                        <li><a href="/v1/api/">Inicio</a></li>
                        <li><a href="/v1/api/acompanhantes">Acompanhantes</a></li>
                        <li><a href="/v1/api/planos">Planos</a></li>
                        <li><a href="/v1/api/sobre">Sobre</a></li>
                    </ul>
                </nav>
            </div>
            <div class="box-profile">
                <a href="#">Acessar</a>
                <a href="#">Registrar</a>
            </div>
        </div>
    </div>
</header>