<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <a href="/api/workouts/register">Cadastre um usuário</a>
    <br>
    <a href="/api/workouts/login">Faça o login</a>
    <br>
    <a href="/api/workouts/product">Crie um produto</a>
</body>
</html>