<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/planos.css">
    <title>Planos</title>
</head>
<body>
    <%-include("./Header.ejs");%>
    <h1>Plano R$ 4,97/Mês</h1>
    <form action="/v1/api/planos/checkout" method="post">
        <input type="hidden" name="priceId" value="price_1OAKhZIbcEgeFqaq9B9XK5SR">
        <input type="submit" value="Assinar">
    </form>
    <%-include("./Footer.ejs");%>
</body>
</html>