<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicidade</title>
</head>
<body>
    <div>
        <h1>Publicidade</h1>
        <form action="/api/workouts/publicidade/save" method="post" enctype="multipart/form-data">
            <input type="file" name="banner" id="">
            <input type="text" name="link" id="" placeholder="Link do anúncio">
            <input type="submit" value="Criar Anúncio">
        </form>
    </div>
</body>
</html>