<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/publicidade.css">
    <title>Publicidade</title>
</head>
<body>
    <%- include('./Header.ejs');%>
    <div>
        <h1>Publicidade</h1>
        <form action="/v1/api/publicidade/save" method="post" enctype="multipart/form-data">
            <input type="file" name="banner" id="">
            <input type="text" name="link" id="" placeholder="Link do anúncio">
            <input type="submit" value="Criar Anúncio">
        </form>
    </div>
    <%- include('./Footer.ejs');%>
</body>
</html>