footer {
    background: white;
    border-top: 1px solid #ddd;
    z-index: 9999;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-direito span {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
}

.footer-social ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-social a {
    color: #212121;
    font-size: 18px;
}

@media screen and (max-width:600) {
    .container-footer {
        justify-content: center;
        gap: 5px;
    }
}